@model WebApplicationMapReduce.Models.SentenceViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container body-shadow body-white body-content">
    <div class="row">
        <div class="col-md-12">
            <h1>MapReduce Service</h1>
            <p class="lead">
               To use the service, enter two sentences.
            </p>
        </div>
    </div>
</div>


<div class="container body-shadow body-white body-content body-margin">
    <div class="">
        
            @using (Html.BeginForm("SentenceForm", "MRService", FormMethod.Post))
            {
                <div class="">
                    <div class="form-group ">
                        <div class="">
                            <label for="sentence1">Sentence 1</label>
                            <input type="text" class="form-control" id="sentence1" name="sentence1">
                        </div>
                    </div>                

                    <div class="form-group">
                        <label for="sentence2">Sentence 2</label>
                        <input type="text" class="form-control" id="sentence2" name="sentence2">
                    </div>

                    <div class="form-group">
                        <label for="outputKeys">Sorting keywords</label>
                        <input type="text" class="form-control" id="outputKeys" name="outputSortKeys">
                    </div>

                    @*<button type="button" class="btn btn-default" id="addSentence">Add Sentence</button>*@


                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            }        
    </div>

    <div class="container">
        <div class="row">
            <table class="table">
                   
                @if (Model != null)
                {

                    <tr>
                        <td>@Model.sentence1</td>
                    </tr>

                    <tr>
                        <td>@Model.sentence2</td>
                    </tr>


                    foreach (var pair in Model.myList)
                    {
                        <tr>
                            <td>@pair.Key</td>
                            <td>@pair.Value</td>
                        </tr>

                    }
                }


            </table>
        </div>
    </div>
</div>




