@{
    ViewBag.Title = "About";
}
<div class="container body-shadow body-white body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a porttitor magna, a
        accumsan dolor. Fusce non condimentum nunc. Sed suscipit non tortor id consequat.
        Phasellus volutpat leo a dolor mollis, sit amet tristique purus pharetra. Morbi
        non dolor sed velit rutrum luctus. Nullam porttitor viverra sagittis. Proin eu malesuada
        augue, eu eleifend purus. Proin maximus diam non turpis semper, vitae mollis
        leo vulputate. Integer elit quam, pretium a sem a, lacinia elementum lorem. Proin
        quis nisl sed ligula lacinia feugiat. Ut ullamcorper ornare erat, non hendrerit mi
        dignissim ut.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a porttitor magna, a
        accumsan dolor. Fusce non condimentum nunc. Sed suscipit non tortor id consequat.
        Phasellus volutpat leo a dolor mollis, sit amet tristique purus pharetra. Morbi
        non dolor sed velit rutrum luctus. Nullam porttitor viverra sagittis. Proin eu malesuada
        augue, eu eleifend purus. Proin maximus diam non turpis semper, vitae mollis
        leo vulputate. Integer elit quam, pretium a sem a, lacinia elementum lorem. Proin
        quis nisl sed ligula lacinia feugiat. Ut ullamcorper ornare erat, non hendrerit mi
        dignissim ut.
    </p>

    <p>Use this area to provide additional information.</p>
</div>
